In [1]:
# setup

import os
import nltk
import re
import string
import sklearn as sl 
import pandas as pd

os.chdir("C:\\Users\\Grant\\Downloads\\wine-reviews\\") #change directory to where the Python wrapper is

In [3]:


# delete any line that says %%capture to make the output show!

#importing the wine

df = pd.read_csv('winemag-data_first150k.csv', index_col='id')
df.head(n=5) #works

,country,description,designation,points,price,province,region_1,region_2,variety,winery
id,,,,,,,,,,
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [16]:
df['country'].nunique()
df.groupby(['country']).count()

,description,designation,points,price,province,region_1,region_2,variety,winery
country,,,,,,,,,
Albania,2,0,2,2,2,0,0,2,2
Argentina,5631,3936,5631,5587,5631,5627,0,5631,5631
Australia,4957,3347,4957,4894,4957,4957,0,4957,4957
Austria,3057,2654,3057,2483,3057,0,0,3057,3057
Bosnia and Herzegovina,4,1,4,4,4,0,0,4,4
Brazil,25,18,25,25,25,0,0,25,25
Bulgaria,77,51,77,77,77,0,0,77,77
Canada,196,145,196,194,196,196,0,196,196
Chile,5816,4917,5816,5766,5816,0,0,5816,5816
China,3,1,3,3,3,0,0,3,3
Croatia,89,60,89,83,89,0,0,89,89
Cyprus,31,25,31,31,31,0,0,31,31
Czech Republic,6,0,6,6,6,0,0,6,6
Egypt,3,2,3,0,3,0,0,3,3
England,9,9,9,8,9,0,0,9,9
France,21098,14507,21098,14785,21098,21083,0,21098,21098
Georgia,43,38,43,43,43,0,0,43,43
Germany,2452,2299,2452,2347,2452,0,0,2452,2452
Greece,884,605,884,872,884,0,0,884,884
Hungary,231,182,231,230,231,0,0,231,231
India,8,4,8,8,8,0,0,8,8
Israel,630,568,630,610,630,0,0,630,630
Italy,23478,16890,23478,18784,23478,23478,0,23478,23478
Japan,2,2,2,2,2,0,0,2,2
Lebanon,37,29,37,37,37,0,0,37,37
Lithuania,8,8,8,8,8,0,0,8,8
Luxembourg,9,9,9,9,9,0,0,9,9
Macedonia,16,7,16,16,16,0,0,16,16
Mexico,63,46,63,63,63,0,0,63,63
Moldova,71,58,71,71,71,0,0,71,71
Montenegro,2,0,2,2,2,0,0,2,2
Morocco,12,5,12,12,12,0,0,12,12
New Zealand,3320,1585,3320,3070,3320,0,0,3320,3320
Portugal,5322,4769,5322,4176,5322,0,0,5322,5322
Romania,139,118,139,139,139,0,0,139,139
Serbia,14,11,14,14,14,0,0,14,14
Slovakia,3,0,3,3,3,0,0,3,3
Slovenia,94,60,94,81,94,0,0,94,94
South Africa,2258,1200,2258,2237,2258,0,0,2258,2258
South Korea,4,4,4,4,4,0,0,4,4
Spain,8268,6554,8268,8160,8268,8268,0,8268,8268
Switzerland,4,3,4,4,4,0,0,4,4
Tunisia,2,2,2,0,2,0,0,2,2
Turkey,52,34,52,50,52,0,0,52,52
US,62397,40345,62397,62139,62397,62261,60953,62397,62397
US-France,1,0,1,1,1,0,0,1,1
Ukraine,5,5,5,5,5,0,0,5,5
Uruguay,92,77,92,85,92,0,0,92,92

In [4]:
%%capture

# checking the dataframe

df.head() # looks solid. got all columns
df.dtypes # not very helpful. everything is an 'object' type but points and price, which are an int and float respectively
df.isnull().sum() # most of the missing values are in region_2 (more general than region_1), region_1 (specific), designation (???)
df.nunique() # 48 unique countries,

In [5]:
%%capture

# getting rid of variables we don't need
df.drop(columns=['designation', 'price', 'province', 'region_1', 'region_2', 'winery'])

In [6]:
%%capture

# trying some groupby's for fun

df_nation = df.groupby(['country']).count()
df_nation.sort_values(by='description', ascending=False) # US, Italy, France, Spain, Chile are top 5 countries whose wines are in the csv

In [5]:
# creating the document 
doc = []
descriptions = df['description']
type(descriptions) # made a series
type(doc)

list

In [6]:
%%capture

# create a list of all the reviews
for description in descriptions:
    doc.append(description)
print(doc[1:100]) # works

In [7]:
# remove punctuation
punc = re.compile('[%s]' % re.escape(string.punctuation))
term_vec = []
for d in doc: 
    d = d.lower()
    d = punc.sub('', d)
    term_vec.append(nltk.word_tokenize(d))

print(term_vec[1:10])

[['ripe', 'aromas', 'of', 'fig', 'blackberry', 'and', 'cassis', 'are', 'softened', 'and', 'sweetened', 'by', 'a', 'slathering', 'of', 'oaky', 'chocolate', 'and', 'vanilla', 'this', 'is', 'full', 'layered', 'intense', 'and', 'cushioned', 'on', 'the', 'palate', 'with', 'rich', 'flavors', 'of', 'chocolaty', 'black', 'fruits', 'and', 'baking', 'spices', 'a', 'toasty', 'everlasting', 'finish', 'is', 'heady', 'but', 'ideally', 'balanced', 'drink', 'through', '2023'], ['mac', 'watson', 'honors', 'the', 'memory', 'of', 'a', 'wine', 'once', 'made', 'by', 'his', 'mother', 'in', 'this', 'tremendously', 'delicious', 'balanced', 'and', 'complex', 'botrytised', 'white', 'dark', 'gold', 'in', 'color', 'it', 'layers', 'toasted', 'hazelnut', 'pear', 'compote', 'and', 'orange', 'peel', 'flavors', 'reveling', 'in', 'the', 'succulence', 'of', 'its', '122', 'gl', 'of', 'residual', 'sugar'], ['this', 'spent', '20', 'months', 'in', '30', 'new', 'french', 'oak', 'and', 'incorporates', 'fruit', 'from', 'ponzis', 'aurora', 'abetina', 'and', 'madrona', 'vineyards', 'among', 'others', 'aromatic', 'dense', 'and', 'toasty', 'it', 'deftly', 'blends', 'aromas', 'and', 'flavors', 'of', 'toast', 'cigar', 'box', 'blackberry', 'black', 'cherry', 'coffee', 'and', 'graphite', 'tannins', 'are', 'polished', 'to', 'a', 'fine', 'sheen', 'and', 'frame', 'a', 'finish', 'loaded', 'with', 'dark', 'chocolate', 'and', 'espresso', 'drink', 'now', 'through', '2032'], ['this', 'is', 'the', 'top', 'wine', 'from', 'la', 'bégude', 'named', 'after', 'the', 'highest', 'point', 'in', 'the', 'vineyard', 'at', '1200', 'feet', 'it', 'has', 'structure', 'density', 'and', 'considerable', 'acidity', 'that', 'is', 'still', 'calming', 'down', 'with', '18', 'months', 'in', 'wood', 'the', 'wine', 'has', 'developing', 'an', 'extra', 'richness', 'and', 'concentration', 'produced', 'by', 'the', 'tari', 'family', 'formerly', 'of', 'château', 'giscours', 'in', 'margaux', 'it', 'is', 'a', 'wine', 'made', 'for', 'aging', 'drink', 'from', '2020'], ['deep', 'dense', 'and', 'pure', 'from', 'the', 'opening', 'bell', 'this', 'toro', 'is', 'a', 'winner', 'aromas', 'of', 'dark', 'ripe', 'black', 'fruits', 'are', 'cool', 'and', 'moderately', 'oaked', 'this', 'feels', 'massive', 'on', 'the', 'palate', 'but', 'sensationally', 'balanced', 'flavors', 'of', 'blackberry', 'coffee', 'mocha', 'and', 'toasty', 'oak', 'finish', 'spicy', 'smooth', 'and', 'heady', 'drink', 'this', 'exemplary', 'toro', 'through', '2023'], ['slightly', 'gritty', 'blackfruit', 'aromas', 'include', 'a', 'sweet', 'note', 'of', 'pastry', 'along', 'with', 'a', 'hint', 'of', 'prune', 'walltowall', 'saturation', 'ensures', 'that', 'all', 'corners', 'of', 'ones', 'mouth', 'are', 'covered', 'flavors', 'of', 'blackberry', 'mocha', 'and', 'chocolate', 'are', 'highly', 'impressive', 'and', 'expressive', 'while', 'this', 'settles', 'nicely', 'on', 'a', 'long', 'finish', 'drink', 'now', 'through', '2024'], ['lush', 'cedary', 'blackfruit', 'aromas', 'are', 'luxe', 'and', 'offer', 'notes', 'of', 'marzipan', 'and', 'vanilla', 'this', 'bruiser', 'is', 'massive', 'and', 'tannic', 'on', 'the', 'palate', 'but', 'still', 'lush', 'and', 'friendly', 'chocolate', 'is', 'a', 'key', 'flavor', 'while', 'baked', 'berry', 'and', 'cassis', 'flavors', 'are', 'hardly', 'wallflowers', 'on', 'the', 'finish', 'this', 'is', 'tannic', 'and', 'deep', 'as', 'a', 'sea', 'trench', 'drink', 'this', 'saturated', 'blackcolored', 'toro', 'through', '2023'], ['this', 'renamed', 'vineyard', 'was', 'formerly', 'bottled', 'as', 'delancellotti', 'youll', 'find', 'striking', 'minerality', 'underscoring', 'chunky', 'black', 'fruits', 'accents', 'of', 'citrus', 'and', 'graphite', 'comingle', 'with', 'exceptional', 'midpalate', 'concentration', 'this', 'is', 'a', 'wine', 'to', 'cellar', 'though', 'it', 'is', 'already', 'quite', 'enjoyable', 'drink', 'now', 'through', '2030'], ['the', 'producer', 'sources', 'from', 'two', 'blocks', 'of', 'the', 'vineyard', 'for', 'this', 'wine—one', 'at', 'a', 'high', 'elevation', 'which', 'contributes', 'bright', 'acidity', 'crunchy', 'cranberry', 'pomegranate', 'and', 'orange', 'peel', 'flavors', 'surround', 'silky', 'succulent', 'layers', 'of', 'texture', 'that', 'present', 'as', 'fleshy', 'fruit', 'that', 'delicately', 'lush', 'flavor', 'has', 'considerable', 'length']]